<div class="container">
  <div class="row mt-2">
    <div class="col-6 d-flex align-items-center">
      <h3 class="text text-primary font-weight-bold text-left">УНИВЕРСИТЕТ</h3>
    </div>
    <div class="col-6 d-flex flex-row-reverse align-items-center">
      <button class="btn btn-outline-primary" (click)="switchSign()">{{ signStatus }}</button>
      <h5 class="text text-primary pr-3">Unknown name</h5>
    </div>
  </div>
</div>

<hr/>
<div class="container">
  <div class="row">
    <div class="col-12">
      <a routerLink="" class="btn btn-outline-primary">домой</a>
      <a href="#" class="btn btn-outline-primary">преподаватели</a>
      <a href="#" class="btn btn-outline-primary">студенты</a>
      <a href="#" class="btn btn-outline-primary">группы</a>
      <a routerLink="courses" class="btn btn-outline-primary">курсы</a>
      <a href="#" class="btn btn-outline-primary">должности</a>
      <a href="#" class="btn btn-outline-primary">расписание</a>
      <a href="#" class="btn btn-outline-primary">мое расписание</a>
      <a href="#" class="btn btn-outline-primary">роли</a>
      <a href="#" class="btn btn-outline-primary">пользователи</a>
    </div>
  </div>
</div>
<hr/>
