<div class="container d-flex flex-column">
      <label class="text-primary" for="course-name">Наименоване курса</label>
      <input class="border-primary text-primary p-2" [(ngModel)]="courseName" id="course-name" />
      <label class="text-primary" for="course-description">Описание курса</label>
      <input class="border-primary text-primary p-2" [(ngModel)]="courseDescription" id="course-description" />
</div>
<div class="container d-flex align-content-center justify-content-end my-2">
      <button class="btn btn-outline-danger" (click)="update()">Сохранить</button>
      <button class="btn btn-outline-primary" >Отменить</button>
</div>
